/* Boiler */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

/* Main Content */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 38px 16px;
}

.maintext {
    margin: 0px 16px;
}

.logo {
    color: #13183F;
    font-size: 28px;
    margin: 0;
}

.started {
    background-color: #13183F;
    color: #FFFFFF;
    border-radius: 28px;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
}

h1 {
    color: #13183F;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    font-weight: 400;
}

.sub {
    color: #83869A;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0;
}

.pagebutton {
    height: 56px;
    width: 167px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 31.5px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    margin: 0 0 46px 0;
}

picture {
    display: flex;
    justify-content: center;
}

/* Courses Section */

.check {
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    padding: 28px;
    margin: 0;
}

.courses {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding: 0px 16px 80px 16px;
}

.course {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 25px 50px 0 rgba(6,22,141,0.04);
    margin: 40px 0 0 0;
    padding: 32px 28px;
}

.course img {
    width: 3.5em;
    position: absolute;
    top: -1.5em;
}

.courses .course {
    position: relative;
}

h2 {
    font-size: 20px;
    color: #13183F;
    margin: 24px 0 16px 0;
}

.ctxt {
    font-size: 16px;
    color: #83869A;
    line-height: 26px;
}

.cstart {
    color: #F74780;
    border: none;
    background: none;
    font-size: 18px;
}

/* Footer */

footer {
    background-color: #13183F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 16px
}

.logofoot {
    font-size: 28px;
    color: #FFFFFF;
    margin: 0;
}

.startedfoot {
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 30px;
}

/* Tablet Section */

@media screen and (min-width: 800px) {
    .container {
        display: flex;
    }

    header {
        margin: 24px 40px 100px 40px;
    }
    
    .maintext {
        margin: 0 39px;
    }

    .courses {
        display: flex;
        margin: 100px 0 0 0;
        padding: 0 40px 86px 40px;
    }

    .course {
        
    }

    footer {
        padding: 36px 40px;
    }
}

/* Desktop Section */

@media screen and (min-width: 1200px) {
    header {
        margin: 40px 165px 185px 165px;
    }

    .maintext {
        margin: 0 275px 0 165px;
    }

    .courses {
        padding: 0 165px 140px 165px;
    }

    .logo {
        font-weight: 700;
    }
}